{% extends "indexx.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{url_for('.static',filename='styles/star.css')}}">

{% endblock %}
{% block content %}
<form class="" action="#" method="post">

<h2>Thank you for the order please wait over the counter!!</h2>
<p> wait until your name( {{name}} )is called</p>
<div class="rate">
  <input type="radio" id="star5" name="rate" value="5" />
  <label for="star5" title="text">5 stars</label>
  <input type="radio" id="star4" name="rate" value="4" />
  <label for="star4" title="text">4 stars</label>
  <input type="radio" id="star3" name="rate" value="3" />
  <label for="star3" title="text">3 stars</label>
  <input type="radio" id="star2" name="rate" value="2" />
  <label for="star2" title="text">2 stars</label>
  <input type="radio" id="star1" name="rate" value="1" />
  <label for="star1" title="text">1 star</label>
</div>
<br>
<br>

<button class="btn btn-warning" type="submit" value="submit" name="submit">Rate</button>
</form>

{% endblock %}
