
.add-new i {
margin-right: 4px;
}

body {
    color: #404E67;
    background: LightGray;
font-family: 'Open Sans', sans-serif;
}
.product{
  width: 700px;
  margin: 30px auto;
      background: #fff;
      padding: 20px;
      box-shadow: 0 1px 1px rgba(0,0,0,.05);
  }

.update{
  text-align: right;
  position: relative;
   left: 450px;
   margin-bottom: 10px

}
