
          .add-new{

            position: relative;
            left: 100px;
            top: 40px;
          }
          .content3{
            position: relative;
            right: 170px;
          }
          .content2{
            position: relative;
            left: 270px;
            bottom: 125px;

          }
