<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
     <meta charset="utf-8">

     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
     <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" type="text/css" href="{{url_for('.static',filename='styles/worker.css')}}">
    <title></title>
  </head>

  <body>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Employee <b>Details</b></h2></div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
                        <button type="button" class="btn btn-info add-new"><i class="fa fa-remove"></i> remove</button>
                        <button type="button" class="btn btn-info add-new"><i class="fa fa-ubdate"></i> update</button>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Worker name</th>
                        <th>Working hours</th>
                        <th>working days</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>dsds</td>
                        <td>sddsds</td>
                        <td>sdsddsd</td>
                    </tr>
                    <tr>
                        <td>sddsds</td>
                        <td>sdsdds</td>
                        <td>sddsds</td>

                    </tr>
                    <tr height="20px">
                      <td></td>
                      <td></td>
                      <td></td>


                    </tr>
                    <div class="add">
                      <h2>update:</h2>
                       <h2>worker name:</h2>
                       <input type="text" placeholder="" name="workername" >
                       <h2>working hours:</h2>
                       <input type="password" placeholder="" name="workinghours" >

                      <h2>working days:</h2>
                        <input type="text" placeholder="" name="workingdays" >
                        <br>

                        <br>
                        <br>
                        <br>
                        <br>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
