<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('.static',filename='styles/style.css')}}">
    <title></title>
  </head>
  <body>
  <br>
  <table border="1" cellspacing="0" width="100px" >
    <caption>list:</caption>

    <tr>
     <th>managername</th>
     <th>password</th>
     <th>coffeeshopname</th>
    </tr>

  {% for item in value %}
    <tr height= "50px">
     <td>{{item.name}}</td>
     <td>{{item.password}}</td>
     <td>{{item.coffeeshop}}</td>>
  {% endfor %}


<form  action="#" method="post">

<div class="add">
  <h2>add,update:</h2> 
   <h2>manager name:</h2>
   <input type="text" placeholder="" name="managername" >
   <h2>manager password:</h2>
   <input type="password" placeholder="" name="managerpassword" >

  <h2>manager coffeeshop:</h2>
    <input type="text" placeholder="" name="managercoffee" >
    <br>
    <button type="submit" name="add" value="add">Add</button>
    <br>
    <br>
    <input type="text" placeholder="" name="deleteuser">
    <br>
    <br>
    <button type="submit" name="remove" value="remove">Remove</button>
  </table>
</div>
</form>







  </body>
</html>
