<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Adminster page</title>
  </head>
  <body>
    <h1>This is the page to enter if you're the site adminster to control the whole system</h1>
    <br>
    <p>Enter the admin single password</p>
    <form  action="#" method="post">
      <br>
      <p><b>Password   :</b></p>
      <input type="password" placeholder="Enter Password" name="psw" required>
      <br>
      <br>
      <button type="submit">Login</button>
      <br>
      <p>{{content}}</p>
    </form>
  </body>
</html>
