<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Covid Free Coffee</title>
  </head>
    <div class="imgcontainer">
     <img src="Picture1.png" alt="Avatar" class="avatar">
   </div>

   <div class="container">
 <form action="#" method="post">

     <p><b> Username:</b></p>
     <input type="text" placeholder="Enter Username" name="uname" required>
     <br>
     <br>
     <p><b>Password   :</b></p>
     <input type="password" placeholder="Enter Password" name="psw" required>
     <br>
     <br>
     <button type="submit">Login</button>
     <br>
     <p>{{content}}</p>
   </div>
 </form>



  <body>

  </body>
</html>
